/* You can add global styles to this file, and also import other style files */
ul{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
    list-style: none;
    position: relative;
}
li{
    width: 100%;
}
h1{
    font-size: 22px;
}
.article-img-text{
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
}
.article-img-text img{
    width: 300px;
    overflow: hidden;
}
.bookmark{
    width: 80px;
    height: 30px;
    background: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bookmark span{
    color: black;
    font-size: 12px;
    margin: 0 auto;
}
.sources{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}